html   
    head    
        title= 'Guest list'
    body
        h1= 'Guest list'
        h3= 'Attending'
        div(class="listOfAttendeesDiv" id="attendingDiv")
            each attendee in attending 
                p= attendee
        h3= 'Not attending'
        div(class="listOfAttendeesDiv" id="notAttendingDiv")
            each attendee in notAttending 
                p= attendee