html   
    head    
        title= RSVP
    body   
        h1= "RSVP"
        form(action='/rsvp' method="POST" id='rsvp-form')
            label(for="name") Name:
            input(type='text' name='name' placeholder='John Smith')
            label(for='email') email:
            input(name='email' placeholder='jsmith1998@gmail.com')
            fieldset  
                legend Will you be attending?
                label(for="attendingYes") Yes
                input(type='radio' name='attending' id='attendingYes' value="true")
                label(for="attendingNo") No
                input(type='radio' name='attending' id='attendingNo' value="false")
            fieldset
                legend Number of Guests?
                select(name="numberOfGuests")
                        option(value="1") 1
                        option(value="2") 2
                        option(value="3") 3
                        option(value="4") 4
                        option(value="5") 5
                        option(value="6") 6
                        option(value="7") 7
                        option(value="8") 8
            button(type="submit") Submit